/* Global styles */

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  /* Header styles */
  
  header {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  header p {
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
  }
  
  /* Navigation styles */
  
  nav {
    background-color: #6c757d;
    color: #fff;
    padding: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #fff;
    text-decoration: underline;
  }

  /* Buildings */
  #buildings h3 {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }
  #buildings img {
    padding-left: 10px;
    padding-right: 10px;
    height: 250px;

  }

  /* News */
  #social p {
    text-align: justify;
  }
  

  /* Main content styles */

  .main-content {
    padding: 2rem;
    background-color: #fff;
  }
  
  .news-article {
    margin-bottom: 2rem;
    border: 1px solid #ced4da;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .news-article h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .news-article p {
    margin-top: 1rem;
  }
  
  /* Music section styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  
  .embed-responsive::before {
    display: block;
    content: '';
  }
  
  .embed-responsive .embed-responsive-item,
  .embed-responsive embed,
  .embed-responsive iframe,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  /* Trainer Jumbotron */
  #trainer-jumbotron h1, p{
    text-align: center;
  }

  /* Statue Container */
  #history img[src=
  "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.2xGKw1m0L7ZSETAKhkfYLgHaK_%26pid%3DApi&f=1&ipt=e67fa31c266b5e9f68bff727b16bfeec24b136c8a5ff129e6e4f2d6ee5d4d6f7&ipo=images"]
  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 250px;
    width: 100px;
  }

  #history .col-md-8{
    text-align: justify;
  }

  /* Museum Container */
  #museum p{
    text-align: justify;
    
  }

  /* Gym Container */
  #gym img[src=
  "https://archives.bulbagarden.net/media/upload/thumb/b/b0/Gardenia_Cherubi_Adventures.png/300px-Gardenia_Cherubi_Adventures.png"]
  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 250px;
    width: 375px;
  }

#gym img[src=
"https://archives.bulbagarden.net/media/upload/thumb/a/a1/Eterna_Gym_field.png/375px-Eterna_Gym_field.png"]
  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 250px;
    width: 375px;
  }

#gym img[src=
"https://archives.bulbagarden.net/media/upload/thumb/6/67/Gardenia_Roserade_Adventures.png/300px-Gardenia_Roserade_Adventures.png"]
  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 250px;
    width: 375px;
  }

/* Gym Table */

  /* Cynthia Container */
  #cynthia h3 {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }

  #cynthia p {
    padding-left: 20px;
    text-align: justify;
  }


  #cynthia img[src=
  "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpm1.narvii.com%2F7574%2Fb1b9b5b504b9bb5c99c74abf89ba0acb98f214b0r1-687-791v2_hq.jpg&f=1&nofb=1&ipt=50183c4bb8a93ee195f3d1e79dc521af0e0cfddfacb6209768f12ac369c89a7f&ipo=images"]
  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 400px;
    width: 600px;
  }

  #cynthia img[src=
  "https://archives.bulbagarden.net/media/upload/thumb/c/c3/Brilliant_Diamond_Shining_Pearl_Cynthia.png/472px-Brilliant_Diamond_Shining_Pearl_Cynthia.png"]
  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 700px;
    width: 300px;
  }


  /* Gardenia Container */
  #gardenia h3 {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }

  #gardenia p {
    padding-left: 20px;
    text-align: justify;
  }

  #gardenia img[src=
  "https://archives.bulbagarden.net/media/upload/thumb/9/97/Brilliant_Diamond_Shining_Pearl_Gardenia.png/406px-Brilliant_Diamond_Shining_Pearl_Gardenia.png"]
  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 700px;
    width: 300px;
  }

  #gardenia img[src=
  "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpm1.narvii.com%2F6077%2Fd3ff474c1ef53522d6af8d00ac8ade14ae05786f_hq.jpg&f=1&nofb=1&ipt=4293b45b8be8d5cc3aba88612f38ce68e92c96b643fd8dcc4530f0c8c1e3e6df&ipo=images"]
  {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 450px;
    width: 650px;
  }
 

  /* Footer styles */
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 1.2rem;
  }
  